<li id="micropost-<%= micropost.id %>" class="mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <strong><%= link_to micropost.user.name, micropost.user %></strong>

        <% if current_user?(micropost.user) %>
          <%= link_to "delete",
                      micropost,
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "text-danger small" %>
        <% end %>
      </div>

      <p class="mt-2 mb-1"><%= micropost.content %></p>

      <% if micropost.image.attached? %>
        <%= image_tag micropost.image.variant(resize_to_limit: [500, 500]),
                      class: "img-fluid rounded mt-2" %>
      <% end %>

      <small class="text-muted">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </small>
    </div>
  </div>
</li>